.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.hed{
  color: rgb(6, 6, 69);
  text-align: center;
  margin-top: 45px;
  font-weight: 500;
}

.abtus_fin>p{
  font-size: 15px;
}

.grid-item1{
  margin-top: 130px;
}

.grid-item2{
  width: 600px;
  height: 500px;
  text-align: justify;
  margin-top: 130px;
}

.hosi{
  height: 400px;
  margin-left: 70px;
}

.grid-container{
  display: grid;
  grid-template-columns: 600px 300px;

}
.grid-container2{
  display: grid;
  grid-template-columns: 600px 300px;
  margin-top: 40px;
}
.grid-item11{
  width: 400px;
  margin-left: 130px;
  text-align: justify;
}

.cc2{
  margin-left: 180px;
  height: 250px;
}

.cardioim{
  height: 250px;
}
.grid-container3{
  display: grid;
  grid-template-columns: 600px 400px;
  margin-top: 60px;
}
.grid-item21{
  margin-left: 130px;
  margin-top: 50px;
}
.grid-item22{
  width: 400px;
  text-align: justify;
  margin-left: 140px; 
}

.livim{
  padding: 15px;
}

.corna{
  margin-left: 70px;
  margin-top: 60px;
}

.description{
  font-size: larger;
  text-align: justify;
}

.grid-cont19{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 500px 500px 500px;
  gap: 20px;
}

.emn{
  color: rgb(1, 1, 39);
}
.emn1{
  margin-top: 30px;
  font-size: larger;
}
.ambu{
  margin-top: 60px;
  text-align: center;
}